.topnav {
  background-color: #003368;
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  height: auto;
}

.topnav a {
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 31px;
}

.topnav a:hover {
  background-color: #fbfdff;
  color: black;
}

.topnav h5 {
    padding: 10px 10px;
    color: #f2f2f2;
}

.matchups {
  display: grid;
  text-align: center;
  align-items: center;
}

.team-name {
    margin-bottom: 2rem;
}

.scores {
   margin-left: 2.5rem;
}