.topnav {
  background-color: #003368;
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  justify-content: center;
 text-align: center;
  height: auto;
  display: block;
}

.topnav a {
  float: none;
  color: #f2f2f2;
  padding: 17px 17px;
  text-decoration: none;
  font-size: 31px;
}

.topnav a:hover {
  background-color: #fbfdff;
  color: black;
}

.topnav h5 {
    color: #f2f2f2;
    padding-top: 20px;
  padding-bottom: 15px;
}

.matchups {
  display: grid;
  text-align: center;
  align-items: center;

  background-color: rgb(217, 217, 217);
}

.team-name {
  margin-bottom: 2rem;
}

.scores {
  margin-left: 2.5rem;
}

.middle {
  padding-top: 15px;
}

.logo {
  height: 200px;
}
.row {
  height: 100%;
}

.myrow {
  border-bottom: 3px solid #ccc;
  margin-bottom: 10px;
}
/* Fav button CSS */
.fav-btn {
  background-color: #003368;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}
.fav-btn:hover {
  background-color: #94a6ba;
}
.card-deck{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.card{ 
  width: 23%;
  border: none;
  box-shadow: 0 2px 3px 0 rgba(152, 152, 152, 0.2);
}